{% load static i18n compress actions%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "DjangoPlay - Admin Dashboard" %}</title>
    <link rel="icon" type="image/png" href="{% static 'elements/images/logo/logo_icon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'design/css/app/common.css' %}">
    <link rel="stylesheet" href="{% static 'design/css/themes/space.css' %}">
    <link rel="stylesheet" href="{% static 'design/css/themes/toggle.css' %}">
    {% endcompress %}
</head>

<body class="has-relative-footer">
    <div id="stars"></div>

    <header>
        <div class="header-container">
            {% if request.user.is_authenticated %}
            <a href="{% if request.user.is_authenticated %}{% url 'console_dashboard' %}{% else %}{% url 'account_login' %}{% endif %}">
                <img src="{% static 'elements/images/logo/logo_icon.png' %}" alt="DjangoPlay Logo" class="logo-icon"><img src="{% static 'elements/images/logo/logotext-color.png' %}" alt="DjangoPlay Logo" class="logo">
            </a>
            <div class="user-section">
                <div class="user-info"
                    title="{{ request.user.get_full_name|default:request.user.get_username }}"
                    style="cursor: default;">
                    Hello,
                    <span class="truncated-name">
                        {{ request.user.first_name|truncatechars:15|default:"User" }}
                    </span>
                </div>
                <a href="{% url 'account_logout' %}" class="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="logout-label">Logout</span>
                </a>
            </div>
            {% endif %}
        </div>        
    </header>

    <div class="theme-toggle-container">
        <input type="checkbox" id="theme-switch" class="theme-toggle">
        <label for="theme-switch" class="slider"></label>
    </div>

    <main class="container text-center mt-15 mb-8">
        <!-- Messages -->    
        {% if messages %}
        <div id="django-messages"
            class="position-fixed start-50 translate-middle-x w-100"
            style="top: calc(var(--header-height) + 10px);
                    z-index: 2000;
                    max-width: 600px;">
            {% for message in messages %}
                <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show mx-auto text-center shadow"
                    role="alert">

                    {% if 'success' in message.tags %}
                        <i class="fas fa-check-circle me-2"></i>
                    {% elif 'warning' in message.tags %}
                        <i class="fas fa-exclamation-triangle me-2"></i>
                    {% elif 'error' in message.tags %}
                        <i class="fas fa-times-circle me-2"></i>
                    {% elif 'info' in message.tags %}
                        <i class="fas fa-info-circle me-2"></i>
                    {% endif %}

                    {{ message | safe}}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if request.GET.password_reset_success %}
            <div class="alert alert-success">
                {% trans "Your password has been reset successfully." %}
            </div>
        {% endif %}
        {% if app_display_name %}
            <div class="card-grid">
                {% with 'entities'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'entities' %}" class="e-card">
                    <i class="icon fas fa-building"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(Worldwide Company Catalogue)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'fincore'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'fincore' %}" class="e-card">
                    <i class="icon fas fa-file-invoice"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(Listed companies only)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'industries'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'industries' %}" class="e-card">
                    <i class="icon fas fa-industry"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(World Bank / ISIC standards)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'invoices'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'invoices' %}" class="e-card">
                    <i class="icon fas fa-file-invoice-dollar"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(Listed companies only)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'locations'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'locations' %}" class="e-card">
                    <i class="icon fas fa-map-marker-alt"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(All Countries)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'users'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'users' %}" class="e-card">
                    <i class="icon fas fa-users"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(Employee & Social Users)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'audit'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'audit' %}" class="e-card">
                    <i class="icon fas fa-users"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(Audit Events Journal)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'helpdesk'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'helpdesk' %}" class="e-card">
                    <i class="icon fas fa-users"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(Help and Support)</small>
                    </span>
                </a>
                {% endwith %}
                {% with 'teamcentral'|get_app_display_name as name %}
                <a href="{% url 'admin_single_app' 'teamcentral' %}" class="e-card">
                    <i class="icon fas fa-users"></i>
                    <span class="card-label">{{ name }}<br>
                        <small>(HR Catalogue)</small>
                    </span>
                </a>
                {% endwith %}
            </div>
        {% endif %}
    </main>

    <!-- Footer -->
    <footer class="footer-container">
        <div class="footer-content">

            <div class="footer-left">
                <button id="bug-report-btn-footer"
                    class="bug-report-btn-footer"
                    data-bs-toggle="modal"
                    data-bs-target="#bug-modal"
                    title="{% trans 'Report Bug' %}">
                    <i class="fas fa-bug"></i>
                </button>
                <img src="{% static 'elements/images/logo/logo_icon.png' %}" class="footer-logo">
                <span class="footer-title">{{ SITE_NAME }}</span>
                <small class="footer-version">v{{ APP_VERSION }}</small>
            </div>

            <div class="footer-right">

                <span class="copyright">© {% now "Y" %}</span>

                <span class="divider">|</span>

                <a href="{{ WEBSITE_URL }}" target="_blank">Website</a>

                <span class="divider">•</span>

                <a href="{{ DOCS_URL }}" target="_blank">Docs Portal</a>

                <span class="divider">•</span>

                {% if request.user.is_authenticated %}
                    <a href="{{ SITE_URL }}{% url 'apidocs:redoc' %}" target="_blank">API Docs</a>
                {% else %}
                    <a href="{{ SITE_URL }}{% url 'frontend:api_login' %}?from=redoc&next={% url 'apidocs:redoc' %}" target="_blank">API Docs</a>
                {% endif %}

                <span class="divider">•</span>

                <a href="{{ SITE_URL }}{% url 'support' %}" target="_blank">Support</a>

                <span class="divider">•</span>

                <a href="{{ SITE_URL }}{% url 'frontend:license' %}" target="_blank">License</a>

            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> 
    {% compress js %}
    <script src="{% static 'design/js/space.js' %}"></script>
    <script src="{% static 'design/js/file_upload.js' %}"></script>
    {% endcompress %}
    <audio id="m-sound" src="{% static 'sounds/strings.mp3' %}" preload="auto" loop></audio>
    {% include 'admin/bug_report_include.html' %}
</body>
</html>