{% extends "admin/base.html" %}
{% load i18n static %}

{% block page_layout %}
<main class="login-page">
    <div class="login-container">

        <div class="card p-4 shadow">
            <h3 class="welcome-title">
                {% trans "Get Support Now" %}
            </h3>

            <form method="post" action="{% url 'support' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-labels">{{ form.subject.label }}</label>
                    {{ form.subject }}
                </div>

                <div class="mb-3">
                    <label class="form-labels">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>

                <div class="mb-3">
                    <label class="form-labels">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label class="form-labels">{{ form.message.label }}</label>
                    {{ form.message }}
                </div>

                <div class="mb-4">
                    <label class="form-label">
                        Attachments (optional, max 5, ≤10MB)
                    </label>

                    <div class="attachment-label">
                        <label class="file-input-label" for="support-file-input">
                            <span class="pin-icon">📎</span> Choose files
                        </label>
                        
                        <input type="file" id="support-file-input" name="files" multiple 
                            accept=".jpg,.jpeg,.png,.pdf,.txt,.log,.zip,.mp4,.gif" style="display: none;">

                        <div class="format-text">*.jpg, *.png, *.pdf, *.txt, *.log, *.zip, *.mp4, *.gif</div>

                        <div data-role="file-list" class="file-list-container"></div>

                        <button type="button" class="clear-all-btn">Clear all</button>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    {% trans "Submit" %}
                </button>
            </form>
        </div>

        <div class="links-container mt-3">
            <a href="{% url 'console_dashboard' %}" class="text-link">
                {% trans "Back" %}
            </a>
        </div>

    </div>
</main>
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'design/js/file_upload.js' %}"></script>
{% endblock %}