{% extends "admin/base.html" %}
{% load humanize %}

{% block content %}
<div class="mt-4 text-start">

    <h4 class="mb-4"> {{site_name}} Issues</h4>
    {% if not request.user.is_authenticated %}
        <div class="card shadow-sm mb-3">
        <div class="card-body">
            <a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}">Sign in</a>  to view internal discussions and private tickets, or 
            <a href="{{ site_url }}{% url 'account_login' %}?tab=signup" target="_blank" rel="noopener noreferrer"> Create a new account</a>.
        </div>
    </div>
    {% endif %}

    {% include "issues/partials/status_tabs.html" %}

    <div class="list-group mt-3">
        {% for issue in page_obj %}
            {% include "issues/partials/issue_row.html" %}
        {% empty %}
            <div class="list-group-item text-muted">
                No issues found.
            </div>
        {% endfor %}
    </div>

    {% include "issues/partials/pagination.html" %}

</div>
{% endblock %}